<div class="ct" id="t1">
    <div class="ct" id="t2">
        <div class="ct" id="t3">
            <div class="ct" id="t4">
                <section>
                    <ul>
                        <a href="/">
                            <li class="icon fa fa-home" id="uno"></li>
                        </a>
                        <a href="#t2">
                            <li class="icon fas fa-car-side" id="dos"></li>
                        </a>
                        <a href="#t3">
                            <li class="icon fas fa-award" id="tres"></li>
                        </a>
                        <a href="#t4">
                            <li class="icon fas fa-search-location" id="cuatro"></li>
                        </a>
                    </ul>
                    <div class="page" id="p1">
                        <li class="icon fa fa-home">
                            <span class="title">Home</span>
                            <span class="hint">MISION - VISION<br />QUIENES SOMOS</span></li>
                    </div>
                    <div class="page" id="p2">
                        <li class="icon fas fa-car-side">
                            <span class="title">Promociones</span>
                        </li>
                    </div>
                    <div class="page" id="p3">
                        <li class="icon fas fa-award">
                            <span class="title">Ranking estacionamientos</span>
                        </li>
                    </div>
                    <div class="page" id="p4">
                        <li class="icon fas fa-search-location">
                            <span class="title">Dribbble</span>
                            <span class="hint">
                                <a href="#" target="_blank">Buscar estacionamiento</a>
                            </span>
                        </li>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>